<h1><%=@place.name%></h1>

<ul>
<% for post in @place.posts%>
    <li><B> <%= post.title%></B> 
         <br><%= post.posted_on %>  
         <br><br><%= post.description%> </li>
    <br>
    <br>
<% end %>
</ul>

<br>
<br>
<p><a href="/posts/new?place_id=<%=@place.id%>"> New Post</a> </p>

<br>
<br>
<p><a href="/places">Back to Home Page </a> </p>