<h1><%=@place.name%></h1>

<ul>
<% for post in @place.posts%>
    <li> <%= post.title%> </li>
    <li> <%= post.posted_on %> </li>
    <li> <%= post.description%> </li>

<% end %>
</ul>

<p></p>
<p><a href="/posts/new?place_id=<%=@place.id%>"> New Post</a> </p>